@import '../components/mainContentHeader.css';
@import '../components/mainContentFilterTasks.css';
@import '../components/MainContentTasksViewer.css';

.mainContentContainer{
    background-color: var(--backgroudcolor--);
    margin: 1rem 2rem 1rem 1rem;
    width: 1200px;
    height: 97vh;
    border-radius: 50px;
    z-index: 1;
    position: relative;
}