@import '../components/sidebarHeader.css';
@import '../components/sidebarCalendarsView.css';
@import '../components/modalNewList.css';
@import '../components/modalEditList.css';
@import '../components/sidebarLineSeperator.css';
@import '../components/sidebarListSection.css';

.sidebarMainContainer{
    background-color: var(--backgroudcolor--);
    margin: 1rem;
    width: 300px;
    height: 97vh;
    border-radius: 50px;
}